.callback__background-container {
  box-sizing: border-box;
  width: 100%;
  min-height: 410px;
  padding: 85px 0 170px;
  background-image: url("../img/background-form.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.callback__text-container {
  padding-left: 80px;
}

.callback__slogan {
  position: relative;
  margin: 0 0 50px;
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -82px;
    width: 45px;
    height: 5px;
    background-color: #ffffff;
  }
}

.callback__title {
  margin: 0 0 10px;
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.callback__text {
  margin: 0;
  font-size: 16px;
  color: #ffffff;
}

.callback__form {
  z-index: 10;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 1105px;
  padding-bottom: 30px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 32px 0 rgba(42, 42, 42, 0.21);
  transform: translateY(-50%);
}

.callback__input-container {
  display: flex;
  flex-direction: column;
  width: 33.3%;
  box-sizing: border-box;
  padding: 40px 55px 30px;
  margin: 0;

  label {
    margin: 0 0 5px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #86b22b;
  }

  input {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(134, 178, 43);
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    padding: 10px 5px;
  }
}

.callback__button-container {
  box-sizing: border-box;
  width: 33.3%;
  margin: 0;
  padding: 68px 55px 30px;
}

.callback__form-caption {
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 16px;
  color: rgb(126, 126, 126);
  line-height: 1.2;
}

.callback__form-submit {
  width: 266px;
  padding: 8px 10px;
  border: none;
  background-color: rgb(134, 178, 43);
  border-radius: 4px;
  box-shadow: 0px 0px 7px 0px rgba(134, 178, 43, 0.66);
  font-size: 24px;
  font-family: "Roboto Condensed";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  cursor: pointer;
}
