.page-footer {
  display: flex;
  padding: 100px 0 55px;
  background-color: #232323;
}

.page-footer__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-footer__logo {
  display: block;
  margin-bottom: 15px;
}

.page-footer__social-list {
  @include list-reset;
  margin: 0 auto;
  width: 85px;
  display: flex;
  justify-content: space-between;
}

.page-footer__social-link {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px;

  &--facebook {
    background-image: url("../img/facebook-icon.jpg");
  }

  &--instagram {
    background-image: url("../img/instagram-icon.jpg");
  }

  &--telegram {
    background-image: url("../img/telegram-icon.jpg");
  }

  &:hover {
    border-color: #ffffff;
  }

  &:active {
    opacity: 0.7;
  }
}

.page-footer__copyright {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
